<div class="container">
  <h2>{{post.headline}}</h2>
  <p>{{post.body}}</p>
  <h4>--{{post.user.name}}, posted {{format_date post.date_created}}</h4>
  {{#each post.comments as |comment|}}
  <h5>{{comment.body}}</h5>
  
  {{#ifCondThree ...logged_in ...logged_in_user_id comment.comment_by_user_id}}
  <h6>MY comment from {{format_date comment.date_created}}</h6>
  {{/ifCondThree}}

  {{#ifCondFour ...logged_in ...logged_in_user_id comment.comment_by_user_id}}
  <h6>{{user.name}} commented {{format_date comment.date_created}}</h6>
  {{/ifCondFour}}
  {{#ifCondTwo ...logged_in_user_id comment.comment_by_user_id}}
    <button id="deleteComment" class="delete-btn btn btn-danger" data-id='{{comment.id}}'>Delete My Comment</button>
  {{/ifCondTwo}}
  {{#ifCondFive ...logged_in ...logged_in_user_id ...post.posted_by_user_id}}
    <button id="deleteComment" class="delete-btn btn btn-danger" data-id='{{comment.id}}'>Delete This Comment</button>
  {{/ifCondFive}}
  {{/each}}
</div>
{{#if logged_in}}
<div class="container mt-5">
  <form class="form new-comment-form" data-id="{{post.id}}">
    <div class="form-group">
      <label for="comment">Comment:</label>
      <input class="form-input" type="text" id="comment-body" name="comment-body" />
    </div>
    <div class="form-group">
      <button type="submit" class="share-comment-btn btn btn-primary" data-id="{{post.id}}">Share Comment</button>
    </div>
  </form>
</div>
{{/if}}

<script src="/js/comment.js"></script>
<script src="/js/post.js"></script>
